<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="5" parallel="methods" >
	<!-- <listeners>
		<listener class-name="com.common.ExtentReportListenerNG" />

	</listeners> -->
	<test name="Test1">

		<classes>
			<class name="com.mfino.connection.parallel"/> 
			<class name="com.mfino.connection.DBconnection"></class>

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
